.AssetsListContainerLightTheme {

    --AssetsListContainer-Background: #eceff1;

    --AssetsListFormFilter-Input-Background: white;
    --AssetsListFormFilter-Input-Border: transparent;
    --AssetsListFormFilter-Input-Color: var(--SecondaryBackground);

    --AssetsListFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsListFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsListFormFilter-Button-Color: white;

    --AssetsListFormFilter-Filtros-Title-Color: var(--SecondaryBackground);
    --AssetsListFormFilter-Filtros-Dropdown-Background: white;

    --AssetsListFormFilter-Filtros-Type-Background: var(--SecondaryBackground);
    --AssetsListFormFilter-Filtros-Type-Color: white;

    --AssetsListFormFilter-Filtros-Sector-Background: var(--PrimaryBackground);
    --AssetsListFormFilter-Filtros-Sector-Color: white;

    --AssetsListFormFilter-Filtros-AddButton-Background: var(--ComplementaryColor);
    --AssetsListFormFilter-Filtros-AddButton-Color: white;
    --AssetsListFormFilter-Filtros-AddButton-Background-Hover: var(--PrimaryBackground);
    --AssetsListFormFilter-Filtros-AddButton-Color-Hover: white;


}


.AssetsListContainerDark {

    --AssetsListContainer-Background: var(--BackgroundDark);

    --AssetsListFormFilter-Input-Background: var(--BackgroundDark);
    --AssetsListFormFilter-Input-Border: var(--PrimaryBackGroundFaded);
    --AssetsListFormFilter-Input-Color: var(--ComplementaryColor);

    --AssetsListFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsListFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsListFormFilter-Button-Color: white;

    --AssetsListFormFilter-Filtros-Title-Color: var(--ComplementaryColor);
    --AssetsListFormFilter-Filtros-Dropdown-Background: white;

    --AssetsListFormFilter-Filtros-Type-Background: var(--SecondaryBackground);
    --AssetsListFormFilter-Filtros-Type-Color: white;

    --AssetsListFormFilter-Filtros-Sector-Background: var(--PrimaryBackground);
    --AssetsListFormFilter-Filtros-Sector-Color: white;

    --AssetsListFormFilter-Filtros-AddButton-Background: var(--ComplementaryColor);
    --AssetsListFormFilter-Filtros-AddButton-Color: white;
    --AssetsListFormFilter-Filtros-AddButton-Background-Hover: var(--PrimaryBackground);
    --AssetsListFormFilter-Filtros-AddButton-Color-Hover: white;

}
















.AssetsListContainer {
    background-color: var(--AssetsListContainer-Background);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
}







/* ============  FORM FILTRO DOS USERS  ===================*/

.AssetsListFormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: flex-end;
}


@media (max-width: 500px) {
    .AssetsListFormFilter {
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        row-gap: 1rem;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .AssetsListFormFilter>input {
        width: 100%;
    }
}

.AssetsListFormFilter>input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--AssetsListFormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--AssetsListFormFilter-Input-Background);
    color: var(--AssetsListFormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.AssetsListFormFilter>input::placeholder {
    color: var(--AssetsListFormFilter-Input-Color);
}


.AssetsListFormFilter>span {
    font-family: var(--Fonte);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    color: var(--ComplementaryColor);
    font-size: 1.1rem;
    font-weight: 500;
    user-select: none;

}

.AssetsListFormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsListFormFilter-Button-Border);
    background-color: var(--AssetsListFormFilter-Button-Background);
    color: var(--AssetsListFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

@media (max-width: 750px) {
    .AssetsListFormFilter>button {
        flex-grow: 1;
    }
}

.AssetsListAddButton {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--AssetsListFormFilter-Filtros-AddButton-Background);
    color: var(--AssetsListFormFilter-Filtros-AddButton-Color);
    padding: .5rem .7rem;
    border: none;
    border-radius: 1rem;
    font-family: var(--Fonte);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.AssetsListAddButton:hover {
    background-color: var(--AssetsListFormFilter-Filtros-AddButton-Background);
    color: var(--AssetsListFormFilter-Filtros-AddButton-Color-Hover);
    transform: scale(1.1);
}

.AssetsListAddButton:active {
    transform: scale(1);
}

.AssetsListFormFilter>button:hover {
    transform: scale(1.1);
}

.AssetsListFormFilter>button:active {
    transform: scale(1);
}

/* ============  FORM FILTRO DOS USERS  ===================*/














/* ============  DROPDOWN FILTRO DE SECTOR ===================*/

#FiltroDeTypeDeAsset::after {
    display: none !important;
    background-color: aqua !important;
}

#FiltroDeTypeDeAsset {
    background-color: transparent !important;
    border: none !important;
    color: var(--BackgroundDark) !important;
    padding: 0 !important;
}

.FiltroDeTypeDeAssetTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    background-color: var(--AssetsListFormFilter-Filtros-Sector-Background);
    padding: .3rem .6rem;
    border-radius: 1rem;
    color: var(--AssetsListFormFilter-Filtros-Sector-Color);
    font-size: .8rem;
}

.dropdown-item {
    font-family: var(--Fonte) !important;
    font-size: .8rem !important;
}

.dropdown-item:active {
    background-color: var(--PrimaryBackground) !important;
}

/* ============  DROPDOWN FILTRO DE SECTOR ===================*/









/* ============  DROPDOWN FILTRO DE Type ===================*/

#FiltroLocalDeAsset::after {
    display: none !important;
}

#FiltroLocalDeAsset {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.FiltroLocalDeAssetTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    background-color: var(--AssetsListFormFilter-Filtros-Type-Background);
    padding: .3rem .6rem;
    border-radius: 1rem;
    color: var(--AssetsListFormFilter-Filtros-Type-Color);
    font-size: .8rem;
}

.AssetsListFormFilter .dropdown-menu {
    background-color: var(--AssetsListFormFilter-Filtros-Dropdown-Background) !important;
}

/* ============  DROPDOWN FILTRO DE SECTOR ===================*/


















/* ============  DROPDOWN FILTROS ===================*/

#AssetsList-Filtros::after {
    display: none !important;
}

#AssetsList-Filtros {
    background-color: transparent !important;
    border: none !important;
    color: var(--BackgroundDark);
    padding: 0 !important;
}

.AssetsList-FiltrosTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    padding: .3rem .6rem;
    border-radius: 1rem;
    color: var(--AssetsListFormFilter-Filtros-Title-Color) !important;
    font-size: 1rem;
    height: 100%;
}

#AssetsList-FiltrosItem {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#AssetsList-FiltrosItem:active {
    background-color: red !important;
}

#AssetsList-FiltrosItem:hover {
    background-color: white !important;
}


/* ============  DROPDOWN FILTRO DE SECTOR ===================*/













/* ============== AssetsList-FilterNoResultsContainer ===================== */


.AssetsList-FilterNoResultsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--Fonte);
    gap: 1rem;
}

.AssetsList-FilterNoResultsContainer svg {
    height: 4rem;
    color: var(--ComplementaryColor);
}

.AssetsList-FilterNoResultsContainer>h3 {
    margin: 0;
    color: var(--ComplementaryColor);
}




/* ============== AssetsList-FilterNoResultsContainer ===================== */