.AtivoRecords-ContainerClaro {
    --AtivoRecord-Container-Border: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color-Hover: var(--PrimaryBackGroundFaded);

    --AtivoRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Status-Color: white;


    --AtivoRecord-UpRow-Date-Color: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Obs-Color: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Time-Color: var(--SecondaryBackground);

    --AtivoRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);   

    --AtivoModal-Ativos-Warning-Color: white;
    --AtivoModal-Ativos-Warning-Background: #f0ad4e;
 

}




.AtivoRecords-ContainerEscuro {
    --AtivoRecord-Container-Border: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color-Hover: var(--ComplementaryColor);

    --AtivoRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Status-Color: white;
 
    --AtivoRecord-UpRow-Date-Color: white;
    --AtivoRecord-UpRow-Obs-Color: white;
    --AtivoRecord-UpRow-Time-Color: white;

    --AtivoRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);

 

    --AtivoModal-Ativos-Warning-Color: white;
    --AtivoModal-Ativos-Warning-Background: #f0ad4e;
}






.AtivosRecords-AvisoInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}


.AtivosRecords-AvisoInfo-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    color: var(--AtivoModal-Ativos-Warning-Color);
    font-family: var(--Fonte);
    background-color: var(--AtivoModal-Ativos-Warning-Background);
    padding: .2rem .8rem;
    border-radius: 1rem;
    font-size: .8rem;
}

.AtivosRecords-AvisoInfo-Item>svg {
    width: 1rem;
}