.AtivoRecords-ContainerClaro {
    --AtivoRecord-Container-Border: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color-Hover: var(--PrimaryBackGroundFaded);

    --AtivoRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Status-Color: white;


    --AtivoRecord-UpRow-Date-Color: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Time-Color: var(--SecondaryBackground);

    --AtivoRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);

    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: white;
    --AtivoRecords-FormFilter-Input-Border: transparent;
    --AtivoRecords-FormFilter-Input-Color: var(--SecondaryBackground);


}




.AtivoRecords-ContainerEscuro {
    --AtivoRecord-Container-Border: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AtivoRecord-UpRow-Name-Color-Hover: var(--ComplementaryColor);

    --AtivoRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AtivoRecord-UpRow-Status-Color: white;
 
    --AtivoRecord-UpRow-Date-Color: white;
    --AtivoRecord-UpRow-Time-Color: white;

    --AtivoRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);

    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: transparent;
    --AtivoRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AtivoRecords-FormFilter-Input-Color: var(--ComplementaryColor);
}







.AtivoRecord-Container {
    border: 1px solid var(--AtivoRecord-Container-Border);
    border-radius: .5rem;
    padding: .3rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .15rem;
    margin-bottom: .7rem;
}

.AtivoRecord-UpRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.AtivoRecord-DownRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.AtivoRecord-MiddleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AtivoRecord-UpRow-Name {
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-Name-Color);
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

.AtivoRecord-UpRow-Name:hover {
    color: var(--AtivoRecord-UpRow-Name-Color-Hover);
    text-decoration: underline;
}

.AtivoRecord-MiddleRow-Name {
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-Name-Color);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    user-select: none;
}

.AtivoRecord-MiddleRow-Name:hover {
    color: var(--AtivoRecord-UpRow-Name-Color-Hover);
    text-decoration: underline;
}

.AtivoRecord-MiddleRow-Name>svg {
    width: 1rem;
}

.AtivoRecord-UpRow-Status {
    border-radius: 1rem;
    background-color: var(--AtivoRecord-UpRow-Status-Background);
    padding: 0rem 1rem;
    font-size: .75rem;
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-Status-Color);

}


.AtivoRecord-DownRow-Date {
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-Date-Color);
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}

.AtivoRecord-DownRow-Date>svg {
    width: 1rem;
}

.AtivoRecord-DownRow-Time {
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-Time-Color);
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}

.AtivoRecord-DownRow-Time>svg {
    width: 1rem;
}



/* ============  DROPDOWN  ===================*/

.AtivoRecords-FormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
}

.AtivoRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AtivosRecordsFormFilter-Button-Border);
    background-color: var(--AtivosRecordsFormFilter-Button-Background);
    color: var(--AtivosRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.AtivoRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AtivosRecordsFormFilter-Button-Border);
    background-color: var(--AtivosRecordsFormFilter-Button-Background);
    color: var(--AtivosRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.AtivoRecords-FormFilter>input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--AtivoRecords-FormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--AtivoRecords-FormFilter-Input-Background);
    color: var(--AtivoRecords-FormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.AtivoRecords-FormFilter>input::placeholder {
    color: var(--AtivoRecords-FormFilter-Input-Color);
}

.AtivoRecords-FormFilter>button:hover {
    transform: scale(1.1);
}

.AtivoRecords-FormFilter>button:active {
    transform: scale(1);
}


#AtivoRecords-OrderBy::after {
    display: none !important;
}

#AtivoRecords-OrderBy {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 100%;
}

.AtivoRecords-OrdenarPorTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    border-radius: 1rem;
    font-size: .9rem;
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-OrderBy-Color) !important;
}