.AssetRecord-ContainerLightTheme {


    --AssetRecord-Container-Border: rgb(228, 226, 226);
    --AssetRecord-Container-BackGround: white;
    --AssetRecord-Container-BackGround-Hover: white;
    --AssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color-Hover: var(--PrimaryBackGroundFaded);

    --AssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AssetRecord-UpRow-Status-Color: white;


    --AssetRecord-UpRow-Date-Color: white;
    --AssetRecord-UpRow-Obs-Color: var(--SecondaryBackground);
    --AssetRecord-UpRow-Time-Color: white;

    --AssetRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);


    --RecordRetiradaTitle-Color: var(--ComplementaryColor)
}




.AssetRecord-ContainerDark {


    --AssetRecord-Container-Border: var(--ComplementaryColor);
    --AssetRecord-Container-BackGround: transparent;
    --AssetRecord-Container-BackGround-Hover: transparent;

    --AssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color-Hover: var(--ComplementaryColor);

    --AssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AssetRecord-UpRow-Status-Color: white;

    --AssetRecord-UpRow-Date-Color: white;
    --AssetRecord-UpRow-Obs-Color: white;
    --AssetRecord-UpRow-Time-Color: white;

    --AssetRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);


    --RecordRetiradaTitle-Color: var(--ComplementaryColor)
}




.AssetRecord-Container {
    border: 1px solid var(--AssetRecord-Container-Border);
    border-radius: .5rem;
    padding: .8rem .5rem;
    display: flex;
    flex-direction: column;
    gap: .15rem;
    margin-bottom: .2rem;
    cursor: pointer;
    background-color: var(--AssetRecord-Container-BackGround);

}

.AssetRecord-Container:hover {
    background-color: var(--AssetRecord-Container-BackGround);
    border: 1px solid var(--AssetRecord-Container-Border);
}

.AssetRecord-UpRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.RecordTitle {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 1%;
}


@media (max-width: 900px) {
    .RecordTitle {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 1%;
    }
}




@media (max-width: 900px) {
    .UserAssetRecord-UpRow {
        flex-wrap: wrap;
        row-gap: .2rem;
    }
}




.RecordsItens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.RecordsItensHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}


.RecordMessageText {
    color: white;
    font-family: var(--Fonte);
    font-size: .9rem;
}

.RecordMessageText>span:hover {
    text-decoration: underline;
}


.RecordMessage {
    border: none;
    border-radius: .5rem;
    position: relative;
    background: var(--PrimaryBackground);
    margin-left: .5rem;
    padding: 0rem .6rem;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.RecordMessage:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: .5rem solid transparent;
    border-right: .5rem solid var(--PrimaryBackground);
    border-top: .5rem solid var(--PrimaryBackground);
    border-bottom: .5rem solid transparent;
    left: -.5rem;
    top: 0px;
}


.AssetRecord-UpRow-Status {
    border-radius: 1rem;
    background-color: var(--AssetRecord-UpRow-Status-Background);
    padding: 0rem 1rem;
    font-size: .75rem;
    font-family: var(--Fonte);
    color: var(--AssetRecord-UpRow-Status-Color);
}

.RecordInUseStatus {
    background-color: #307430;
}

.RecordNotInUseStatus {
    background-color: var(--AssetRecord-UpRow-Status-Background);
}





.AssetRecord-UpRow-Status svg {
    width: 1rem;
}

.RecordMessageDate {
    margin-top: .3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}


.AssetRecord-UpRow-Name {
    font-family: var(--Fonte);
    color: var(--AssetRecord-UpRow-Name-Color);
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.AssetRecord-UpRow-Name span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.AssetRecord-UpRow-Name>svg {
    width: 1rem;
}


.RecordMessageDate-Time {
    font-family: var(--Fonte);
    color: var(--AssetRecord-UpRow-Time-Color);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}

.RecordMessageDate-Time>svg {
    width: .8rem;
}



.RecordMessageDate-Item {
    font-family: var(--Fonte);
    color: var(--AssetRecord-UpRow-Time-Color);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}


.RecordMessageDate-Item>svg {
    width: .8rem;
}