.AssetRecords-ContainerLightTheme {
    --AssetRecord-Container-Border: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color-Hover: var(--PrimaryBackGroundFaded);

    --AssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AssetRecord-UpRow-Status-Color: white;


    --AssetRecord-UpRow-Date-Color: var(--SecondaryBackground);
    --AssetRecord-UpRow-Obs-Color: var(--SecondaryBackground);
    --AssetRecord-UpRow-Time-Color: var(--SecondaryBackground);

    --AssetRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);

    --AssetModal-Assets-Warning-Color: white;
    --AssetModal-Assets-Warning-Background: #f0ad4e;


}




.AssetRecords-ContainerDark {
    --AssetRecord-Container-Border: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --AssetRecord-UpRow-Name-Color-Hover: var(--ComplementaryColor);

    --AssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --AssetRecord-UpRow-Status-Color: white;

    --AssetRecord-UpRow-Date-Color: white;
    --AssetRecord-UpRow-Obs-Color: white;
    --AssetRecord-UpRow-Time-Color: white;

    --AssetRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);



    --AssetModal-Assets-Warning-Color: white;
    --AssetModal-Assets-Warning-Background: #f0ad4e;
}



@media (max-width: 750px) {
    .AssetRecords-Container {
        padding: 0 !important;
    }
}





.AssetsRecords-AvisoInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}


.AssetsRecords-AvisoInfo-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    color: var(--AssetModal-Assets-Warning-Color);
    font-family: var(--Fonte);
    background-color: var(--AssetModal-Assets-Warning-Background);
    padding: .2rem .8rem;
    border-radius: 1rem;
    font-size: .8rem;
}

.AssetsRecords-AvisoInfo-Item>svg {
    width: 1rem;
}