.AssetModal-ModalClaro {

    --AssetModal-Backgound: white;
    --AssetModal-Border: white;
    --AssetModal-SectionTitleColor: var(--ComplementaryColor);


    --AssetModal-IconeELabe-Input: var(--ComplementaryColor);
    --AssetModal-Borda-Input: var(--PrimaryBackGroundFaded50);
    --AssetModal-Color-Input: var(--SecondaryBackground);
    --AssetModal-Background-Input: transparent;

    --AssetModal-ListTittle-Background: var(--ComplementaryColor);
    --AssetModal-ListTittle-Color: white;
    --AssetModal-ListTittle-Item-Background: transparent;
    --AssetModal-ListTittle-Item-Color: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Border: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Background-Hover: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Color-Hover: white;
    --AssetModal-ListTittle-Item-Border-Hover: var(--ComplementaryColor);

    --AssetModal-Header-Name-Color: var(--ComplementaryColor);
    --AssetModal-Header-Sector-Background: var(--SecondaryBackground);
    --AssetModal-Header-Sector-Color: white;
    --AssetModal-Header-Type-Background: var(--PrimaryBackground);
    --AssetModal-Header-Type-Color: white;

    --AssetModal-Sidebar-Item-Background: var(--PrimaryBackGroundFaded2);
    --AssetModal-Sidebar-Item-Border: var(--PrimaryBackGroundFaded2);
    --AssetModal-Sidebar-Item-Color: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Background-Active: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Border-Active: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Color-Active: white;
    --AssetModal-Sidebar-Item-Background-Hover: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Border-Hover: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Color-Hover: white;

    --AssetModal-Sidebar-Button-Secondary-Border: var(--ComplementaryColor);
    --AssetModal-Sidebar-Button-Secondary-Color: var(--ComplementaryColor);

    --AssetModal-Sidebar-Button-Delete-Background: #d9534f;
    --AssetModal-Sidebar-Button-Delete-Border: #d9534f;
    --AssetModal-Sidebar-Button-Delete-Color: white;
}



.AssetModal-ModalEscuro {

    --AssetModal-Backgound: var(--BackgroundDark);
    --AssetModal-Border: rgb(127, 126, 126);
    --AssetModal-SectionTitleColor: var(--ComplementaryColor);

    --AssetModal-IconeELabe-Input: var(--ComplementaryColor);
    --AssetModal-Borda-Input: var(--PrimaryBackGroundFaded50);
    --AssetModal-Color-Input: white;
    --AssetModal-Background-Input: transparent;

    --AssetModal-ListTittle-Background: var(--ComplementaryColor);
    --AssetModal-ListTittle-Color: white;
    --AssetModal-ListTittle-Item-Background: transparent;
    --AssetModal-ListTittle-Item-Color: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Border: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Background-Hover: var(--ComplementaryColor);
    --AssetModal-ListTittle-Item-Color-Hover: white;
    --AssetModal-ListTittle-Item-Border-Hover: var(--ComplementaryColor);

    --AssetModal-Header-Name-Color: var(--ComplementaryColor);
    --AssetModal-Header-Sector-Background: var(--SecondaryBackground);
    --AssetModal-Header-Sector-Color: white;
    --AssetModal-Header-Type-Background: var(--PrimaryBackground);
    --AssetModal-Header-Type-Color: white;

    --AssetModal-Sidebar-Item-Background: var(--PrimaryBackGroundFaded2);
    --AssetModal-Sidebar-Item-Border: var(--PrimaryBackGroundFaded2);
    --AssetModal-Sidebar-Item-Color: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Background-Active: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Border-Active: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Color-Active: white;
    --AssetModal-Sidebar-Item-Background-Hover: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Border-Hover: var(--PrimaryBackground);
    --AssetModal-Sidebar-Item-Color-Hover: white;


    --AssetModal-Sidebar-Button-Secondary-Border: var(--ComplementaryColor);
    --AssetModal-Sidebar-Button-Secondary-Color: var(--ComplementaryColor);

    --AssetModal-Sidebar-Button-Delete-Background: #d9534f;
    --AssetModal-Sidebar-Button-Delete-Border: #d9534f;
    --AssetModal-Sidebar-Button-Delete-Color: white;


}


/* blurred background modal for bootstrap v4 */
.modal-open> :not(.modal) {}

@media (max-width: 760px) {
    .modal-open> :not(.modal) {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
    }
}

.AssetModal {
    z-index: 0 !important;
    padding: 0 !important;
}


.AssetModal-Modal .modal-content {
    background-color: var(--AssetModal-Backgound) !important;
    border: 1px solid var(--AssetModal-Border) !important;

}


.AssetModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 85vh;
    min-height: 85vh;
    overflow-y: scroll;
}


.AssetModal::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {

    .AssetModal {
        max-height: none;
        overflow-y: auto;
    }

    .AssetModal::-webkit-scrollbar {
        display: none;
    }
}



/* ======== HEADER  ============== */

.AssetModalHeader {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    padding-top: 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-bottom: 1rem;
}

@media (max-width: 1000px) {
    .AssetModalHeader {
        padding: .3rem;
        margin-bottom: 2rem;
    }

}



.AssetModalHeader-Left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
}

@media (max-width: 1000px) {
    .AssetModalHeader-Left {
        width: 30%;
    }
}

.AssetModalHeader-Left-Photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AssetModalHeader-Left-Photo>img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


@media (max-width: 1000px) {
    .AssetModalHeader-Left-Photo>img {
        width: 70%;
    }
}



.AssetModalHeader-Right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: .5rem;
    width: 100%;
    flex-shrink: 1;
    user-select: none;
    padding-left: 3rem;
}

@media (max-width: 1000px) {
    .AssetModalHeader-Right {
        padding: 0;
    }
}


.AssetModalHeader-Right-Name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--Fonte);
    font-size: 1.3rem;
    color: var(--AssetModal-Header-Name-Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text !important;
}

.AssetModalHeader-Right-Name span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.AssetModalHeader-Right-Close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.AssetModalHeader-Right-Close:hover {
    transform: scale(1.1);
}




.AssetModalHeader-Right-Sector {
    border-radius: 1rem;
    padding: .1rem 1rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    color: var(--AssetModal-Header-Sector-Color);
    background-color: var(--AssetModal-Header-Sector-Background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.AssetModalHeader-Right-Sector>svg {
    width: 1.1rem;
}

.AssetModalHeader-Right-Type {
    border-radius: 1rem;
    padding: .1rem 1rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    color: var(--AssetModal-Header-Type-Color);
    background-color: var(--AssetModal-Header-Type-Background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.AssetModalHeader-Right-Type>svg {
    width: 1.1rem;
}


@media (max-width: 1000px) {
    .AssetModalHeader-Right-Type {
        font-size: .7rem;
    }

    .AssetModalHeader-Right-Sector {
        font-size: .7rem;
    }
}

/* ======== HEADER  ============== */
















/* ======== BODY  ============== */

.AssetModalBody {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-right: .5rem;
}


@media (max-width: 1000px) {
    .AssetModalBody {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: .3rem;
    }

}

.AssetModalBody-Sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: .5rem;
    width: 30%;
}

@media (max-width: 1000px) {
    .AssetModalBody-Sidebar {
        margin-bottom: 2.5rem;
        width: 100%;
    }

}


.AssetModalBody-Sidebar-Item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .6rem 1.7rem;
    color: var(--AssetModal-Sidebar-Item-Color);
    font-weight: 500;
    text-decoration: none;
    font-family: var(--Fonte);
    font-size: .9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1REM;
    background-color: var(--AssetModal-Sidebar-Item-Background);
    border: 1px solid var(--AssetModal-Sidebar-Item-Border);
}



.AssetModalBody-Sidebar-ActiveItem {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .6rem 1.7rem;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--Fonte);
    font-size: .9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1REM;
    border: 1px solid var(--AssetModal-Sidebar-Item-Border-Active);
    color: var(--AssetModal-Sidebar-Item-Color-Active);
    background-color: var(--AssetModal-Sidebar-Item-Background-Active);
}




.AssetModalBody-Sidebar-Item:hover {
    border: 1px solid var(--AssetModal-Sidebar-Item-Border-Hover);
    color: var(--AssetModal-Sidebar-Item-Color-Hover);
    background-color: var(--AssetModal-Sidebar-Item-Background-Hover);
}



.AssetModalBody-AssetInfo {}








/* ============== INFO FORM =================== */

.AssetModalBody-AssetInfo {
    padding: 0rem 1rem 1rem 3rem;
    width: 100%;

}


@media (max-width: 1000px) {
    .AssetModalBody-AssetInfo {
        padding: .3rem;
    }
}



.AssetModalBody-AssetInfoForm form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}


.AssetModalBody-AssetInfoForm-OneLine {
    width: 100%;
}



.AssetModalBody-AssetInfoForm-SectionTitle {
    font-family: var(--Fonte);
    color: var(--AssetModal-SectionTitleColor);
    margin-top: .5rem;
}

.AssetModalBody-AssetInfoForm-ConfirMessage {
    font-family: var(--Fonte);
    color: var(--AssetModal-SectionTitleColor);
    text-align: right;
}



.AssetModalBody-AssetInfoForm-Group-Input {
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--AssetModal-Borda-Input);
    padding: .5rem .8rem;
    color: var(--AssetModal-Color-Input);
    font-family: var(--Fonte);
    font-size: .9rem;
    background-color: var(--AssetModal-Background-Input);
    width: 100% !important;
}

@media (max-width: 1000px) {
    .AssetModalBody-AssetInfoForm-Group-Input {
        font-size: .8rem;
    }

}

















.AssetModalBody-AssetInfoForm-PhoneInput-Container {
    border-radius: .5rem !important;
    outline: none !important;
    border: 1px solid var(--AssetModal-Borda-Input) !important;

    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    box-shadow: none !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput {
    border-radius: .5rem !important;
    outline: none !important;
    border: none !important;
    color: var(--AssetModal-Color-Input) !important;
    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    width: 100% !important;
    box-shadow: none !important;
    background-color: var(--AssetModal-Background-Input) !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput-Button {
    background-color: var(--AssetModal-Background-Input) !important;
    border: none !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput-Button:hover {
    background-color: var(--AssetModal-Background-Input) !important;
    border: none !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput-Button:active {
    background-color: var(--AssetModal-Background-Input) !important;
    border: none !important;
}

.AssetModalBody-AssetInfoForm-LocationSelect {
    flex-grow: 1 !important;
    font-family: var(--Fonte) !important;
    font-size: .9rem !important;
    width: 100% !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput-Dropdown {

    overflow-y: scroll !important;
}

.AssetModalBody-AssetInfoForm-PhoneInput-Dropdown::-webkit-scrollbar {
    display: none !important;

}







.AssetModalBody-AssetInfoForm-Button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 2.5rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.AssetModalBody-AssetInfoForm-Button button {
    padding: .5rem 1rem;
    font-family: var(--Fonte);
    background-color: var(--ComplementaryColor);
    border: 1px solid var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

@media (max-width: 760px) {
    .AssetModalBody-AssetInfoForm-Button>button {
        font-size: .8rem;
    }
}


.AssetModalBody-AssetInfoForm-Button-Delete {
    background-color: var(--AssetModal-Sidebar-Button-Delete-Background) !important;
    border: 1px solid var(--AssetModal-Sidebar-Button-Delete-Border) !important;
    color: var(--AssetModal-Sidebar-Button-Delete-Color) !important;
}

.AssetModalBody-AssetInfoForm-Button>.AssetModalBody-AssetInfoForm-Button-Secondary {
    padding: .5rem 1rem;
    font-family: var(--Fonte);
    background-color: transparent !important;
    border: 1px solid var(--AssetModal-Sidebar-Button-Secondary-Border);
    color: var(--AssetModal-Sidebar-Button-Secondary-Color);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.AssetModalBody-AssetInfoForm-Button>button>svg {
    width: 1.2rem;
}

.AssetModalBody-AssetInfoForm-Button>button:hover {
    transform: scale(1.1);
}

.AssetModalBody-AssetInfoForm-Button>button:active {
    transform: scale(.9);
}