.AssetContainerClaro {
    --AssetContainer-Background: white;
    --AssetContainer-Background-Hover: whitesmoke;
    --AssetContainer-Border: transparent;

    --AssetContainer-StorageLocation-Background: var(--PrimaryBackground);
    --AssetContainer-StorageLocation-Color: white;

    --AssetContainer-Type-Background: var(--SecondaryBackground);
    --AssetContainer-Type-Color: white;

    --AssetContainer-Name-Color: var(--ComplementaryColor);
    --AssetContainer-Email-Color: var(--SecondaryBackground);

}

.AssetContainerEscuro {
    --AssetContainer-Background: var(--BackgroundDark);
    --AssetContainer-Background-Hover: var(--PrimaryBackGroundFaded30);
    --AssetContainer-Border: var(--ComplementaryColor);

    --AssetContainer-StorageLocation-Background: var(--PrimaryBackground);
    --AssetContainer-StorageLocation-Color: white;

    --AssetContainer-Type-Background: var(--SecondaryBackground);
    --AssetContainer-Type-Color: white;

    --AssetContainer-Name-Color: var(--ComplementaryColor);
    --AssetContainer-Email-Color: white;
}










.AssetContainer {
    display: grid;
    grid-template-columns: 30% 10% 20% 20% 20%;
    gap: 1%;
    align-items: center;
    margin-bottom: .3rem;
    padding: .7rem .5rem;
    cursor: pointer;
    background-color: var(--AssetContainer-Background);
    border: 1px solid var(--AssetContainer-Border);
    user-select: none;
    border-radius: .5rem;

}

.AssetContainer:hover {
    background-color: var(--AssetContainer-Background-Hover);
}

.AssetContainerColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--Fonte);
    font-size: .9rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.AssetContainerColumn>img {
    width: 50%;
    border-radius: 50%;
}



.StorageLocationColumn {
    background-color: var(--AssetContainer-StorageLocation-Background);
    color: var(--AssetContainer-StorageLocation-Color);
    padding: .05rem .5rem;
    border-radius: 1rem;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
    max-width: 100%;
}

.StorageLocationColumn svg {
    width: 1rem;
}

.StorageLocationColumn span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetTypeColumn {
    background-color: var(--AssetContainer-Type-Background);
    color: var(--AssetContainer-Type-Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .05rem .5rem;
    border-radius: 1rem;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
}

.AssetTypeColumn>svg {
    width: .9rem;
}

.AssetTypeColumn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetNameColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
    color: var(--AssetContainer-Name-Color);
    font-size: .9rem;
}



.AssetNameColumn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetNameColumnIcon {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--ComplementaryColor);
    color: white;
    font-size: .9rem;
}

.AssetNameColumn>svg {
    width: 1rem;
}


.AssetQuantidadesContainer {
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 1rem !important;
}

.AssetQuantidades {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    color: var(--AssetContainer-Email-Color);
    font-family: var(--Fonte);
}

.AssetQuantidades span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetQuantidades svg {
    width: .9rem;
}



@media (max-width: 750px) {

    .AssetContainer {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .StorageLocationColumn {
        font-size: .6rem;
    }

    .StorageLocationColumn>svg {
        display: none;
    }

    .AssetTypeColumn {
        font-size: .6rem;
    }

    .AssetTypeColumn>svg {
        display: none;
    }

    .AssetNameColumn>svg {
        display: none;
    }

    .AssetQuantidadesContainer {
        display: none !important;
    }

    .AssetQuantidades {
        display: none;
    }
}