CI=false
NODE_OPTIONS="--max_old_space_size=4096"
VITE_CONFIG='{"VITE_REACT_APIKEY":"","VITE_REACT_AUTHDOMAIN":"","VITE_REACT_PROJECTID":"","VITE_REACT_STORAGEBUCKET":"","VITE_REACT_MESSAGINGSENDERID":"","VITE_REACT_APPID":"","VITE_REACT_MEASUREMENTID":"","VITE_REACT_TENANT_NAME":"","VITE_REACT_TENANT_ID":"","VITE_REACT_DATABASE_NAME":"","VITE_REACT_USERS_PHOTOS_DIRECTORY":"","VITE_REACT_ASSETS_PHOTOS_DIRECTORY":"","VITE_REACT_SECTORS_COLLECTIONNAME":"","VITE_REACT_USERTYPES_COLLECTIONNAME":"","VITE_REACT_ASSETTYPES_COLLECTIONNAME":"","VITE_REACT_STORAGELOCATIONS_COLLECTIONNAME":"","VITE_REACT_ASSETSTATUS_COLLECTIONNAME":"","VITE_REACT_USAGETYPES_COLLECTIONNAME":"","VITE_REACT_USERS_COLLECTIONNAME":"","VITE_REACT_ASSETS_COLLECTIONNAME":"","VITE_REACT_RECORDS_COLLECTIONNAME":"","VITE_REACT_REQUESTS_COLLECTIONNAME":"","VITE_REACT_REQUESTSSTATUS_COLLECTIONNAME":"","VITE_REACT_REQUESTSTYPES_COLLECTIONNAME":""}'
