.UsersInSetoresContainers {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    padding-top: 1rem;
    overflow: hidden; 
    transition: width .5s ease-in-out;
}

.Animate{
    transition: width 1s ease-in-out;
    width: 100%;
}

.SetorList {
    margin: 1rem;
}