.AtivoContainrClaro {
    --AtivoContainr-Background: white;
    --AtivoContainr-Background-Hover: whitesmoke;
    --AtivoContainr-Border: transparent;

    --AtivoContainr-LocalArmazenamento-Background: var(--PrimaryBackground);
    --AtivoContainr-LocalArmazenamento-Color: white;

    --AtivoContainr-Tipo-Background: var(--SecondaryBackground);
    --AtivoContainr-Tipo-Color: white;

    --AtivoContainr-Name-Color: var(--ComplementaryColor);
    --AtivoContainr-Email-Color: var(--SecondaryBackground);

}

.AtivoContainrEscuro {
    --AtivoContainr-Background: var(--BackgroundDark);
    --AtivoContainr-Background-Hover: var(--PrimaryBackGroundFaded30);
    --AtivoContainr-Border: var(--ComplementaryColor);

    --AtivoContainr-LocalArmazenamento-Background: var(--PrimaryBackground);
    --AtivoContainr-LocalArmazenamento-Color: white;

    --AtivoContainr-Tipo-Background: var(--SecondaryBackground);
    --AtivoContainr-Tipo-Color: white;

    --AtivoContainr-Name-Color: var(--ComplementaryColor);
    --AtivoContainr-Email-Color: white;
}










.AtivoContainr {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    gap: .5rem;
    align-items: center;
    margin-bottom: .3rem;
    padding: .7rem .5rem;
    cursor: pointer;
    background-color: var(--AtivoContainr-Background);
    border: 1px solid var(--AtivoContainr-Border);
    user-select: none;
    border-radius: .5rem;

}

.AtivoContainr:hover {
    background-color: var(--AtivoContainr-Background-Hover);
}

.AtivoContainrColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--Fonte);
    font-size: .9rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.AtivoContainrColumn>img {
    width: 50%;
    border-radius: 50%;
}

.LocalArmazenamentoColumn {
    background-color: var(--AtivoContainr-LocalArmazenamento-Background);
    color: var(--AtivoContainr-LocalArmazenamento-Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .05rem .5rem;
    border-radius: 1rem;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
}

.LocalArmazenamentoColumn>svg {
    width: 1rem;
}

.LocalArmazenamentoColumn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AtivoTypeColumn {
    background-color: var(--AtivoContainr-Tipo-Background);
    color: var(--AtivoContainr-Tipo-Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .05rem .5rem;
    border-radius: 1rem;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1rem;
}

.AtivoTypeColumn>svg {
    width: .9rem;
}

.AtivoTypeColumn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AtivoNameColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
    color: var(--AtivoContainr-Name-Color);
    font-size: .9rem;
}



.AtivoNameColumn>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AtivoNameColumnIcon {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--ComplementaryColor);
    color: white;
    font-size: .9rem;
}

.AtivoNameColumn>svg {
    width: 1rem;
}


.AtivoQuantidadesContainer {
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 1rem !important;
}

.AtivoQuantidades {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    color: var(--AtivoContainr-Email-Color);
}

.AtivoQuantidades>svg {
    width: .9rem;
}



@media (max-width: 750px) {

    .AtivoContainr {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .LocalArmazenamentoColumn {
        font-size: .6rem;
    }

    .LocalArmazenamentoColumn>svg {
        display: none;
    }

    .AtivoTypeColumn {
        font-size: .6rem;
    }

    .AtivoTypeColumn>svg {
        display: none;
    }

    .AtivoNameColumn>svg {
        display: none;
    }

    .AtivoQuantidadesContainer {
        display: none !important;
    }

    .AtivoQuantidades {
        display: none;
    }
}