.AssetsTypesShowOnlyCustomGroupListClaro {
    --Sectors-Title-Backround: var(--PrimaryBackground);
    --Sectors-Title-Color: white;

    --Sectors-Item-Backround: white;
    --Sectors-Item-Border: rgb(205, 205, 205);
    --Sectors-Item-Border-LR: rgb(205, 205, 205);
    --Sectors-Item-Icon-Color: var(--PrimaryBackground);
    --Sectors-Item-Span-Color: var(--SecondaryBackground);
}


.AssetsTypesShowOnlyCustomGroupListEscuro {
    --Sectors-Title-Backround: var(--PrimaryBackground);
    --Sectors-Title-Color: white;

    --Sectors-Item-Backround: var(--BackgroundDark);
    --Sectors-Item-Border: rgb(88, 86, 86);
    --Sectors-Item-Border-LR: rgb(88, 86, 86);
    --Sectors-Item-Icon-Color: var(--ComplementaryColor);
    --Sectors-Item-Span-Color: white;
}



.UserTypesShowOnlyCustomGroupListTitleSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.UserTypesShowOnlyCustomGroupListTitleSpan svg {
    width: 1rem;
}

.AssetsTypesShowOnlyCustomGroupList {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.AssetsTypesShowOnlyCustomGroupList span {
    cursor: pointer;
}

.AssetsTypesShowOnlyCustomGroupList .list-group-item {
    background-color: var(--Sectors-Item-Backround);
    border-bottom: 1px solid var(--Sectors-Item-Border);
    border-left: 1px solid var(--Sectors-Item-Border-LR);
    border-right: 1px solid var(--Sectors-Item-Border-LR);
}


.AssetsTypesShowOnlyCustomGroupListItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.AssetsTypesShowOnlyCustomGroupListItem span {
    font-family: var(--Fonte);
    font-size: 12px;
    color: var(--Sectors-Item-Span-Color);
}

.AssetsTypesShowOnlyCustomGroupListItem>svg {
    font-family: var(--Fonte);
    font-size: .9rem;
    margin-right: .3rem;
}


.AssetsTypesShowOnlyCustomGroupListItem svg {
    float: right;
    margin-left: .6rem;
    font-size: .9rem;
    width: 1rem !important;
}

.SectorsShowOnlyCustomGroupIcon {
    font-family: var(--Fonte);
    font-size: .9rem;
    margin-right: .3rem;
    color: var(--Sectors-Item-Icon-Color);
}

.SectorsShowOnlyCustomGroupIcon>svg {
    width: .4rem !important;
}

.AssetsTypesShowOnlyCustomGroupListCheckbox {
    color: var(--PrimaryColor);
    cursor: pointer;
}


.AssetsTypesShowOnlyCustomGroupListItem input {
    padding: 4px 12px;
    border: none;
    outline: none;
    font-family: var(--Fonte);
    color: var(--Dark);
    font-size: 14px;
    background-color: var(--FundoTransparente);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.AssetsTypesShowOnlyCustomGroupListItem span {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetsTypesShowOnlyCustomGroupListItem button {
    border: none;
    background-color: var(--FundoTransparente);
    padding: 5px;
}

.AssetsTypesShowOnlyCustomGroupListItem form button svg {
    color: var(--Dark) !important;
}


.AssetsTypesShowOnlyCustomGroupListInput {
    padding: 0 !important;
    margin: 0 !important;
    font-family: var(--Fonte) !important;
    font-size: 13px !important;
    margin-right: 1rem !important;
}


.AssetsTypesShowOnlyCustomGroupList .list-group-item {
    padding: .2rem .7rem !important;
}

.AssetsTypesShowOnlyCustomGroupListTitle.list-group-item {
    padding: .6rem .7rem !important;
}



.Tilt {
    transform: scale(1.2) !important;
    background-color: aqua !important;
}

.AssetsTypesShowOnlyCustomGroupListTitle {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    font-family: var(--Fonte) !important;
    background-color: var(--Sectors-Title-Backround) !important;
    color: var(--Sectors-Title-Color) !important;
    user-select: none;
    border-top-right-radius: .5rem !important;
    border-top-left-radius: .5rem !important;
}

.AssetsTypesShowOnlyCustomGroupListTitleSpan {
    white-space: nowrap;
    /* Evita que o texto seja quebrado */
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa o limite do elemento */
    text-overflow: ellipsis;
    /* Adiciona reticências no final do texto que ultrapassa o limite do elemento */
    display: flex;
    /* Permite que o ícone e o texto fiquem na mesma linha */
    align-items: center;
    /* Alinha verticalmente o ícone e o texto */
    gap: .5rem;
    color: var(--Sectors-Title-Color);
}

.AssetsTypesShowOnlyCustomGroupListTitleSpan>svg {
    width: 1.1rem;
    color: var(--Sectors-Title-Color);
}

.MarginBottom {
    margin-bottom: 2.5rem;
}



.NoBreak {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}