.RangePickerClaro {
    --RangePicker-Borda-Input: transparent;
    --RangePicker-Color-Input: var(--SecondaryBackground);
    --RangePicker-Background-Input: white;
}

.RangePickerEscuro {
    --RangePicker-Borda-Input: var(--ComplementaryColor);
    --RangePicker-Color-Input: white;
    --RangePicker-Background-Input: black;
}


.RangePicker {
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--RangePicker-Borda-Input);
    padding: .5rem .8rem;
    color: var(--RangePicker-Color-Input);
    font-family: var(--Fonte) !important;
    font-size: .8rem;
    background-color: var(--RangePicker-Background-Input);
    width: 100% !important;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);


}

@media (max-width: 1000px) {
    .RangePicker {
        font-size: .8rem;
    }

}




.CustomCalendarContainerEscuro {
    --RangePicker-Container-Background: black;
    --RangePicker-Container-Border: var(--PrimaryBackGroundFaded50);
    --RangePicker-Color: white;

    --RangePicker-SelectedDay-Background: var(--ComplementaryColor);
    --RangePicker-SelectedDay-Color: white;

}



.CustomCalendarContainerClaro {
    --RangePicker-Container-Background: white;
    --RangePicker-Container-Border: var(--PrimaryBackGroundFaded50);
    --RangePicker-Color: black;

    --RangePicker-SelectedDay-Background: var(--ComplementaryColor);
    --RangePicker-SelectedDay-Color: white;

}

.RangePickerContainer {
    z-index: 99;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}


.RangePickerContainerEscuro {

    background-color: black;
}


.RangePickerContainerClaro {
    background-color: white;
}




/* Container do Calendario */
.react-datepicker__month-container {
    border: 1px solid var(--RangePicker-Container-Border) !important;
    border-bottom: none !important;
    border-right: 1px solid var(--RangePicker-Container-Border) !important;
    border-left: none !important;
    border-top-left-radius: .5rem !important;
}

/* Container do Time */
.react-datepicker__time-container {
    border: 1px solid var(--RangePicker-Container-Border) !important;
    border-bottom: none !important;
    border-bottom-right-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
    border-right: none !important;
    border-left: none !important;
}

/* Dia que aparece no calendario */
.react-datepicker__day {
    font-family: var(--Fonte) !important;
    color: var(--RangePicker-Color) !important;
}

.react-datepicker__day:hover {
    background-color: var(--RangePicker-SelectedDay-Background) !important;
    color: var(--RangePicker-SelectedDay-Color) !important;
}


/* Dia Selecionado aparece no calendario */
.react-datepicker__day--selected {
    background-color: var(--RangePicker-SelectedDay-Background) !important;
    color: var(--RangePicker-SelectedDay-Color) !important;
}

/* Dia dentro do range */
.react-datepicker__day--in-selecting-range {
    background-color: var(--PrimaryBackGroundFaded) !important;
    color: white !important;
}

.react-datepicker__day--in-range {
    background-color: var(--RangePicker-SelectedDay-Background) !important;
    color: var(--RangePicker-SelectedDay-Color) !important;
}

/* Dia De Hoje aparece no calendario */
.react-datepicker__day--today {}

/* Container interno de tudo */
.CustomCalendarContainer {
    background-color: transparent !important;
    font-family: var(--Fonte) !important;
    border: none !important;
    border-radius: .5rem !important;
    border-bottom: 1px solid var(--RangePicker-Container-Border) !important;
    border-left: 1px solid var(--RangePicker-Container-Border) !important;
    border-right: 1px solid var(--RangePicker-Container-Border) !important;
}

/* HEADER DO TIME  */
.react-datepicker-time__header {
    font-weight: 400 !important;
    color: var(--RangePicker-Color) !important;
}

/* NOMES DO DIAS DA SEMANA */
.react-datepicker__day-name {
    color: var(--RangePicker-Color) !important;
}


/* Container do header  */
.react-datepicker__header {
    background-color: transparent !important;
    border-bottom: 1px solid var(--RangePicker-Container-Border) !important;

}

.react-datepicker__navigation span {
    background-color: var(--RangePicker-Container-Border) !important;
}

/* Container Da lista das Horas */
.react-datepicker__time {
    background-color: transparent !important;


}

/* Container da Hora */
.react-datepicker__time-list-item.custom-time-container {}


/* HORA  */
.react-datepicker__time-list-item {
    color: var(--RangePicker-Color);
}

/* HORA HOVER */
.react-datepicker__time-list-item:hover {
    background-color: var(--RangePicker-SelectedDay-Background) !important;
    color: var(--RangePicker-SelectedDay-Color) !important;
}


.RangePicker-CustomCalendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RangePicker-CustomCalendarHeader-Button {
    background-color: transparent !important;
    border: none;
    outline: none;
    color: var(--RangePicker-Color);
}

.RangePicker-CustomCalendarHeader-Date {
    color: var(--RangePicker-Color);
}