.SubTabTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: .5rem;

}

.SubTabTitleIcon {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: var(--SecondaryBackground);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.SubTabTitleText {
    font-family: var(--Fonte);
    font-size: 1.5rem;
    color: var(--Dark);
    font-weight: 500;
}