.AssetRecords-ContainerLightTheme {
    --AssetRecords-Container-Background: transparent;

    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: white;
    --AssetRecords-FormFilter-Input-Border: transparent;
    --AssetRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --AssetModal-Assets-Warning-Color: white;
    --AssetModal-Assets-Warning-Background: #f0ad4e;

}




.AssetRecords-ContainerDark {
    --AssetRecords-Container-Background: var(--BackgroundDark);

    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: transparent;
    --AssetRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AssetRecords-FormFilter-Input-Color: var(--ComplementaryColor);

    --AssetModal-Assets-Warning-Color: white;
    --AssetModal-Assets-Warning-Background: #f0ad4e;
}


.AssetRecords-Container {
    width: 100%;
    padding: 2rem;
    background-color: var(--AssetRecords-Container-Background);
    overflow-y: scroll;
}

@media (max-width: 900px) {
    .AssetRecords-Container {
        padding: .5rem;
    }
}