.AtivoRecords-ContainerClaro {
    --AtivoRecords-Container-Background: transparent;

    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: white;
    --AtivoRecords-FormFilter-Input-Border: transparent;
    --AtivoRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --AtivoModal-Ativos-Warning-Color: white;
    --AtivoModal-Ativos-Warning-Background: #f0ad4e;

}




.AtivoRecords-ContainerEscuro {
    --AtivoRecords-Container-Background: var(--BackgroundDark);

    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: transparent;
    --AtivoRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AtivoRecords-FormFilter-Input-Color: var(--ComplementaryColor);

    --AtivoModal-Ativos-Warning-Color: white;
    --AtivoModal-Ativos-Warning-Background: #f0ad4e;
}


.AtivoRecords-Container {
    width: 100%;
    padding: 2rem;
    background-color: var(--AtivoRecords-Container-Background);
    overflow-y: scroll;
}

@media (max-width: 900px) {
    .AtivoRecords-Container {
        padding: .5rem;
    }
}