.TabTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
   
}

.TabTitleIcon{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--SecondaryBackground);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.TabTitleText{
    font-family: var(--Fonte);
    font-size: 2rem;
    color: var(--Dark);
    font-weight: 500;
}