.UserAssetRecords-ContainerLightTheme {
    --UserAssetRecord-Container-Border: var(--ComplementaryColor);
    --UserAssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --UserAssetRecord-UpRow-Name-Color-Hover: var(--PrimaryBackGroundFaded);

    --UserAssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --UserAssetRecord-UpRow-Status-Color: white;

 
    --UserAssetRecord-UpRow-Date-Color: var(--SecondaryBackground);
    --UserAssetRecord-UpRow-Time-Color: var(--SecondaryBackground);

    --UserAssetRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);

    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --UserAssetRecords-FormFilter-Input-Background: white;
    --UserAssetRecords-FormFilter-Input-Border: transparent;
    --UserAssetRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --UserModal-userAssets-Warning-Color: white;
    --UserModal-userAssets-Warning-Background: #f0ad4e;


}




.UserAssetRecords-ContainerDark {
    --UserAssetRecord-Container-Border: var(--ComplementaryColor);
    --UserAssetRecord-UpRow-Name-Color: var(--ComplementaryColor);
    --UserAssetRecord-UpRow-Name-Color-Hover: var(--ComplementaryColor);

    --UserAssetRecord-UpRow-Status-Background: var(--SecondaryBackground);
    --UserAssetRecord-UpRow-Status-Color: white;
 
    --UserAssetRecord-UpRow-Date-Color: white;
    --UserAssetRecord-UpRow-Time-Color: white;

    --UserAssetRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);

    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --UserAssetRecords-FormFilter-Input-Background: transparent;
    --UserAssetRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --UserAssetRecords-FormFilter-Input-Color: var(--ComplementaryColor);

    --UserModal-userAssets-Warning-Color: white;
    --UserModal-userAssets-Warning-Background: #f0ad4e;
}








/* ============  DROPDOWN  ===================*/

.UserAssetRecords-FormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.UserAssetRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.UserAssetRecords-FormFilter>button {
    font-family: var(--Fonte); 
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.UserAssetRecords-FormFilter>input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--UserAssetRecords-FormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--UserAssetRecords-FormFilter-Input-Background);
    color: var(--UserAssetRecords-FormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.UserAssetRecords-FormFilter>input::placeholder {
    color: var(--UserAssetRecords-FormFilter-Input-Color);
}

.UserAssetRecords-FormFilter>button:hover {
    transform: scale(1.1);
}

.UserAssetRecords-FormFilter>button:active {
    transform: scale(1);
}


#UserAssetRecords-OrderBy::after {
    display: none !important;
}

#UserAssetRecords-OrderBy {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 100%;
}

.UserAssetRecords-OrdenarPorTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    border-radius: 1rem;
    font-size: .9rem;
    font-family: var(--Fonte);
    color: var(--UserAssetRecord-UpRow-OrderBy-Color) !important;
}









.UserAssetsRecords-AvisoInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}


.UserAssetsRecords-AvisoInfo-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    color: var(--UserModal-userAssets-Warning-Color);
    font-family: var(--Fonte);
    background-color: var(--UserModal-userAssets-Warning-Background);
    padding: .2rem .8rem;
    border-radius: 1rem;
    font-size: .8rem;
}

.UserAssetsRecords-AvisoInfo-Item>svg {
    width: 1rem;
}