.NumbersOfListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;
    flex-grow: 1;
    border-radius: .7rem;
}

.NumbersOfListItem:hover {
    transform: scale(1.1);
}

.NumbersOfListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--SecondaryBackground);
    font-size: .8rem;
    color: white;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-family: var(--Fonte);
    user-select: none;
    box-shadow: none;
}


.NumbersOfListItem:hover {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-.7rem)
}

.NumbersOfListQtd {
    font-size: 1.5em;
    font-weight: 600;
}


@media (max-width: 900px) {
    .NumbersOfListItem {
        flex-grow: 1;
        padding: .5rem;
        border-radius: 0;
    }

    .NumbersOfListContainer {
        border-radius: .5rem;
        overflow: hidden;
    }

    .NumbersOfListItem:hover {
        box-shadow: none;
        transform: scale(1.1)
    }
}