.AtivosCamposContainerClaro {
    --AtivosCamposContainer-Background: var(--Background);

    --AtivosCamposContainer-Item-Background: white;
    --AtivosCamposContainer-Item-Color: var(--SecondaryBackground);
    --AtivosCamposContainer-Item-Placeholder-Color: var(--SecondaryBackground);

}

.AtivosCamposContainerEscuro {
    --AtivosCamposContainer-Background: var(--BackgroundDark);

    --AtivosCamposContainer-Item-Background: var(--BackgroundDark);
    --AtivosCamposContainer-Item-Color: var(--ComplementaryColor);
    --AtivosCamposContainer-Item-Placeholder-Color: white;

}





.AtivosCamposContainer {
    width: 100%;
    height: 100%;
    background-color: var(--AtivosCamposContainer-Background);
    font-family: var(--Fonte) !important;
    margin-top: 1.5rem;
}


.AtivosCamposContainer svg {
    width: 1.2rem;
    color: var(--AtivosCamposContainer-Item-Color);
}


.AtivosCamposAddForm {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}



.AtivosCamposEditForm {
    display: flex;
    flex-direction: row;
    gap: .7rem;
    align-items: center;
}

.AtivosCamposEditInput {
    border: none;
    outline: none;
    padding: 0;
    color: var(--AtivosCamposContainer-Item-Placeholder-Color);
    background-color: transparent;
}

.AtivosCamposAddInput {
    border: none;
    outline: none;
    padding: 0;
    color: var(--AtivosCamposContainer-Item-Placeholder-Color);
    background-color: transparent;
}

.AtivosCamposAddInput::placeholder {
    color: var(--AtivosCamposContainer-Item-Placeholder-Color);
}

.AtivosCamposEditInput {
    flex-grow: 1;
}

.AtivosCamposAddInput {
    flex-grow: 1;
}





.AtivosCamposTitle {
    background-color: var(--PrimaryBackground);
    color: var(--PrimaryColor);
    padding: .5rem .5rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border: 1px solid rgb(196, 195, 195);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    margin-top: 1rem;
}

.AtivosCamposTitle>svg {
    color: var(--PrimaryColor);
}

.AtivosCamposItem {
    background-color: var(--AtivosCamposContainer-Item-Background);
    border: 1px solid rgb(196, 195, 195);
    border-top: none;
    padding: .5rem .5rem;
    font-size: .8rem;
    color: var(--AtivosCamposContainer-Item-Color);
    cursor: pointer;
}


.AtivosCamposAddForm {
    background-color: var(--AtivosCamposContainer-Item-Background);
    border: 1px solid rgb(196, 195, 195);
    border-top: none;
    padding: .5rem .5rem;
    font-size: .8rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.AtivosCamposAddButton {
    background-color: transparent;
    border: none;
    outline: none;
}