.SidebarContainerClaro {
    --SidebarContainer-Background: #eceff1;

    --Sidebar-Item-Border: var(--PrimaryBackGroundFaded2);
    --Sidebar-Item-Background: var(--PrimaryBackGroundFaded2);
    --Sidebar-Item-Color: var(--PrimaryBackground);
    --Sidebar-Item-Border-Hover: var(--PrimaryBackground);
    --Sidebar-Item-Background-Hover: var(--PrimaryBackground);
    --Sidebar-Item-Color-Hover: white;
    --Sidebar-Item-Border-Active: var(--PrimaryBackground);
    --Sidebar-Item-Background-Active: var(--PrimaryBackground);
    --Sidebar-Item-Color-Active: white;

    --Sidebar-Name-Color: var(--ComplementaryColor);

}



.SidebarContainerEscuro {
    --SidebarContainer-Background: var(--BackgroundDark);

    --Sidebar-Item-Border: var(--PrimaryBackGroundFaded2);
    --Sidebar-Item-Background: var(--PrimaryBackGroundFaded2);
    --Sidebar-Item-Color: var(--PrimaryBackground);
    --Sidebar-Item-Border-Hover: var(--PrimaryBackground);
    --Sidebar-Item-Background-Hover: var(--PrimaryBackground);
    --Sidebar-Item-Color-Hover: white;
    --Sidebar-Item-Border-Active: var(--PrimaryBackground);
    --Sidebar-Item-Background-Active: var(--PrimaryBackground);
    --Sidebar-Item-Color-Active: white;

    --Sidebar-Name-Color: var(--ComplementaryColor);

}










.SidebarContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .1rem;
    width: 25%;
    padding: 0;
    padding-top: 1.5rem;
    background-color: var(--SidebarContainer-Background);
    padding-left: .5rem;
}

.SidebarList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
}

.SidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .6rem 1.7rem;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--Fonte);
    font-size: .9rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1REM;
    background-color: var(--Sidebar-Item-Background);
    border: 1px solid var(--Sidebar-Item-Border);
    color: var(--Sidebar-Item-Color);
    cursor: pointer;
}

.SidebarItem:hover {
    border: 1px solid var(--Sidebar-Item-Border-Hover);
    background-color: var(--Sidebar-Item-Background-Hover);
    color: var(--Sidebar-Item-Color-Hover);
}

.SidebarItem.ActiveSidebar {
    border: 1px solid var(--Sidebar-Item-Border-Active);
    background-color: var(--Sidebar-Item-Background-Active);
    color: var(--Sidebar-Item-Color-Active);
}

.SidebarUserPhotoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SidebarUserPhoto {
    width: 40%;
    border-radius: 50%;
    -webkit-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.SidebarUserName {
    padding: .2rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    row-gap: .1rem;

}

.SidebarUserName>p {
    margin: 0;
    font-family: var(--Fonte);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Sidebar-Name-Color);
}




@media (max-width: 1000px) {
    .SidebarContainer {
        width: 35%;

    }

    .SidebarItem {
        font-size: .9rem;
    }


    .SidebarUserName>p {
        font-size: 1.3rem;
        font-weight: 500;

    }
}



@media (max-width: 770px) {
    .SidebarContainer {
        display: none;
    }
}