.AtivoRecords-FormFilterClaro {
    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: white;
    --AtivoRecords-FormFilter-Input-Border: transparent;
    --AtivoRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --AtivoRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);
}




.AtivoRecords-FormFilterEscuro {
    --AtivosRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AtivosRecordsFormFilter-Button-Color: white;

    --AtivoRecords-FormFilter-Input-Background: transparent;
    --AtivoRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AtivoRecords-FormFilter-Input-Color: var(--ComplementaryColor);

    --AtivoRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);
}






/* ============  DROPDOWN  ===================*/

.AtivoRecords-FormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.AtivoRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AtivosRecordsFormFilter-Button-Border);
    background-color: var(--AtivosRecordsFormFilter-Button-Background);
    color: var(--AtivosRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.AtivoRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AtivosRecordsFormFilter-Button-Border);
    background-color: var(--AtivosRecordsFormFilter-Button-Background);
    color: var(--AtivosRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.AtivoRecords-FormFilter>input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--AtivoRecords-FormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--AtivoRecords-FormFilter-Input-Background);
    color: var(--AtivoRecords-FormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.AtivoRecords-FormFilter>input::placeholder {
    color: var(--AtivoRecords-FormFilter-Input-Color);
}

.AtivoRecords-FormFilter>button:hover {
    transform: scale(1.1);
}

.AtivoRecords-FormFilter>button:active {
    transform: scale(1);
}


#AtivoRecords-OrderBy::after {
    display: none !important;
}

#AtivoRecords-OrderBy {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    height: 100%;
}

.AtivoRecords-OrdenarPorTitle {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    font-family: var(--Fonte);
    border-radius: 1rem;
    font-size: .9rem;
    font-family: var(--Fonte);
    color: var(--AtivoRecord-UpRow-OrderBy-Color) !important;
}






.AtivosRecords-AvisoInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 2rem;
}


.AtivosRecords-AvisoInfo-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: .3rem;
    color: var(--AtivoModal-Ativos-Warning-Color);
    font-family: var(--Fonte);
    background-color: var(--AtivoModal-Ativos-Warning-Background);
    padding: .2rem .8rem;
    border-radius: 1rem;
    font-size: .8rem;
}

.AtivosRecords-AvisoInfo-Item>svg {
    width: 1rem;
}