.AssetRecords-FormFilterClaro {
    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: white;
    --AssetRecords-FormFilter-Input-Border: transparent;
    --AssetRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --AssetRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);
}




.AssetRecords-FormFilterEscuro {
    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: transparent;
    --AssetRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AssetRecords-FormFilter-Input-Color: white;

    --AssetRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);
}



.RecordsRangeSelection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-grow: 1;
}


/* ============  DROPDOWN  ===================*/

.AssetRecords-FormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: .5rem;
}

.AssetRecords-OrderAndFilter {
    display: flex;
    flex-direction: row;
}

.AssetRecords-DateRangeContainer {}

.AssetRecords-SearchBarContainer {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    min-width: 30% !important;
}



.AssetRecords-DateRangeContainer {
    flex-grow: 1;
}


@media (max-width: 1100px) {
    .AssetRecords-DateRangeContainer {
        flex-grow: 1;
    }

}

@media (max-width: 750px) {



    .AssetRecords-Container {
        padding: 1rem;
    }

    .AssetRecords-FormFilter {
        flex-direction: column;
        align-items: stretch;
        padding: .5rem;
        row-gap: .3rem;
    }

    .AssetRecords-FormFilter>input {
        width: 100%;
    }

    .AssetRecords-SearchBarContainer {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        min-width: 50% !important;
    }
}


.AssetRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.AssetRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}



.AssetRecords-FormFilter input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--AssetRecords-FormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--AssetRecords-FormFilter-Input-Background);
    color: var(--AssetRecords-FormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.AssetRecords-FormFilter input::placeholder {

    color: var(--AssetRecords-FormFilter-Input-Color);

}

.AssetRecords-FormFilter>input::placeholder {
    color: var(--AssetRecords-FormFilter-Input-Color);
}

.AssetRecords-FormFilter>button:hover {
    transform: scale(1.1);
}

.AssetRecords-FormFilter>button:active {
    transform: scale(1);
}