.AssetRecords-FormFilterClaro {
    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: white;
    --AssetRecords-FormFilter-Input-Border: transparent;
    --AssetRecords-FormFilter-Input-Color: var(--SecondaryBackground);

    --AssetRecord-UpRow-OrderBy-Color: var(--SecondaryBackground);
}




.AssetRecords-FormFilterEscuro {
    --AssetsRecordsFormFilter-Button-Background: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Border: var(--ComplementaryColor);
    --AssetsRecordsFormFilter-Button-Color: white;

    --AssetRecords-FormFilter-Input-Background: transparent;
    --AssetRecords-FormFilter-Input-Border: var(--ComplementaryColor);
    --AssetRecords-FormFilter-Input-Color: var(--ComplementaryColor);

    --AssetRecord-UpRow-OrderBy-Color: var(--ComplementaryColor);
}






/* ============  DROPDOWN  ===================*/

.AssetRecords-FormFilter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}


@media (max-width: 500px) {
    .AssetRecords-FormFilter {
        flex-direction: column;
        align-items: center;
        row-gap: .3rem;
    }

    .AssetRecords-FormFilter>input {
        width: 100%;
    }
}


.AssetRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.AssetRecords-FormFilter>button {
    font-family: var(--Fonte);
    font-size: .8rem;
    outline: none;
    border: 1px solid var(--AssetsRecordsFormFilter-Button-Border);
    background-color: var(--AssetsRecordsFormFilter-Button-Background);
    color: var(--AssetsRecordsFormFilter-Button-Color);
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.AssetRecords-FormFilter>input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: 1px solid var(--AssetRecords-FormFilter-Input-Border);
    border-radius: .5rem;
    font-family: var(--Fonte);
    font-size: .8rem;
    background-color: var(--AssetRecords-FormFilter-Input-Background);
    color: var(--AssetRecords-FormFilter-Input-Color);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.AssetRecords-FormFilter>input::placeholder {
    color: var(--AssetRecords-FormFilter-Input-Color);
}

.AssetRecords-FormFilter>button:hover {
    transform: scale(1.1);
}

.AssetRecords-FormFilter>button:active {
    transform: scale(1);
}