.AddRequestModal-ModalLightTheme {
    --AddRequestModal-Backgound: white;
    --AddRequestModal-Border: white;
    --AddRequestModal-SectionTitleColor: var(--ComplementaryColor);
}


.AddRequestModal-ModalDark {
    --AddRequestModal-Backgound: var(--BackgroundDark);
    --AddRequestModal-Border: rgb(43, 43, 43);
    --AddRequestModal-SectionTitleColor: var(--ComplementaryColor);
}


@media (max-width: 760px) {
    .modal-open> :not(.modal) {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
    }
}

.AddRequestModal {
    z-index: 0 !important;
}


.AddRequestModal-Modal .modal-content {
    background-color: var(--AddRequestModal-Backgound) !important;
    border: 1px solid var(--AddRequestModal-Border) !important;
    border-radius: .5rem !important;
    overflow: hidden !important;
}


.AddRequestModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 85vh;
    min-height: 85vh;
    overflow-y: scroll;
    border-radius: .5rem !important;


}


.AddRequestModal::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {

    .AddRequestModal {
        max-height: none;
        overflow-y: auto;
    }

    .AddRequestModal::-webkit-scrollbar {
        display: none;
    }
}



.AddRequestModal-Body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 70vh;
    margin-bottom: 2rem;
}





.AddRequestModal-Right-Close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: var(--ComplementaryColor);
}

.AddRequestModal-Right-Close:hover {
    transform: scale(1.1);
}












.AddRequestModal-UserInfoForm-Button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 2.5rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.AddRequestModal-UserInfoForm-Button button {
    padding: .5rem 1rem;
    font-family: var(--Fonte);
    background-color: var(--ComplementaryColor);
    border: 1px solid var(--ComplementaryColor);
    color: var(--PrimaryColor);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

@media (max-width: 760px) {
    .AddRequestModal-UserInfoForm-Button button {
        font-size: .8rem;
    }
}


.AddRequestModal-UserInfoForm-Button button>svg {
    width: 1.2rem;
}

.AddRequestModal-UserInfoForm-Button button:hover {
    transform: scale(1.1);
}

.AddRequestModal-UserInfoForm-Button button:active {
    transform: scale(.9);
}