.AssetsContainerClaro {
    --AssetsContainer-Background: #eceff1;
    --AssetsContainer-NoAssets-Color: var(--ComplementaryColor);
}

.AssetsContainerEscuro {
    --AssetsContainer-Background:  var(--BackgroundDark);
    --AssetsContainer-NoAssets-Color: var(--ComplementaryColor);
} 




.AssetsContainer {
    width: 100%;
    height: 100%;
    padding: 2rem;
    max-height: 100%;
    overflow-y: scroll;
    background-color: var(--AssetsContainer-Background) !important;
}

.AssetsContainer::-webkit-scrollbar {
    display: none;
}

.AssetTabTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}


.NoAssetsRegistered {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: var(--Fonte);
}

.NoAssetsRegistered>p {
    font-size: 1.2rem;
    width: 100%;
    color: var(--AssetsContainer-NoAssets-Color);
    font-weight: 500;
}

@media (max-width: 900px) {
    .AssetsContainer {

        padding: .5rem;

    }
}